<div class="animated fadeIn container">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-search"></i> Pesquisar
                    <div class="card-actions">
                        <a class="btn-close" [hidden]="!loading"><i class="fa fa-spin fa-refresh"></i></a>
                        <!--<a class="btn-setting" [routerLink]="['/payout/cadastrar']"><i class="fa fa-plus-square-o"></i></a>-->
                        <!--<a class="btn-minimize" href="#"><i class="icon-arrow-up"></i></a>-->
                    </div>
                </div>

                <div class="card-block" [hidden]="filtroHabilitado">

                  <div class="row">
                      <div class="col-sm-10">
                          <div class="form-group">
                              <label for="history">Loot History</label>
                              <textarea [(ngModel)]="filtro.history" rows="8" name="history" class="form-control" id="prependedInput"></textarea>
                          </div>
                      </div>

                      <div class="col-sm-2">
                          <div class="form-group pull-right">
                              <label>&nbsp;</label> <br />
                              <button (click)="calcularPayout()" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Calcular</button>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!--/row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Payout
                    <div class="card-actions">
                        <a class="btn-close" [hidden]="!loading"><i class="fa fa-spin fa-refresh"></i></a>
                        <!--<a class="btn-setting" [routerLink]="['/payout/cadastrar']"><i class="fa fa-plus-square-o"></i></a>-->
                        <!--<a class="btn-minimize" href="#"><i class="icon-arrow-up"></i></a>-->
                    </div>
                </div>

                <div class="card-block">

                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Player Name</th>
                                <th>Ore Name</th>
                                <th>Amount</th>
                                <th class="text-xs-center">ISK</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of lista">
                                <td>{{item.playerName}}</td>
                                <td>{{item.oreName}}</td>
                                <td>{{item.amount}}</td>
                                <td>
                                    <div class="text-xs-center">
                                        <!--<button class="btn btn-sm btn-danger" (click)="excluir(item)"  type="reset"><i class="fa fa-remove "></i> Excluir</button>-->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!--/row-->

    <!--row-->
    <div class="row animated fadeIn" [hidden]="!aviso">
        <div class="col-lg-12">
            <div class="card card-inverse card-info">
                <div class="card-header">
                    <i class="fa fa-info-circle"></i> Aviso
                </div>
                <div class="card-block text-xs-center">
                    <p>{{aviso}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->

    <!--row-->
    <!--<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Debug
                </div>
                <div class="card-block">
                    <div class="row">
                        <pre>{{lista | json}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!--/row-->


</div>
